.app.dark {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #1ebe1e;
    --secondary-color: #049604;
    --inverted-primary-color: #0e3096;
    --inverted-secondary-color: #0449e0;
}
